.main {
	height: 100%;
	padding: 4rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hover:hover {
	color: green;
}

.footerHeader {
	display: flex;
	height: 6rem;
	font-size: larger;
	font-weight: bold;
	align-items: center;
}

.footerHover:hover {
	color: green;
	background-color: white;
	cursor: pointer;
}
